@import "tailwindcss";

@theme {
  --color-obsidian-900: #050506;
  --color-obsidian-800: #080809;
  --color-obsidian-700: #0D0D0F;
  --color-obsidian-600: #1A1A1D;

  --font-sans: "Inter", "Geist", ui-sans-serif, system-ui;
  --font-mono: "JetBrains Mono", "Fira Code", monospace;
}

@layer base {
  body {
    @apply antialiased bg-obsidian-900 text-zinc-300;
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.1);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}